<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<h1>Edit product</h1>
<p>
    <a href="/product">product list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-product}" th:object="${product}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{nameProduct}"/></td>
        </tr>
        <tr>
            <td>First price:</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td>amount:</td>
            <td><input type="text" th:field="*{amount}"/></td>
        </tr>
        <tr>
            <td>infor:</td>
            <td><input type="text" th:field="*{information}"/></td>
        </tr>
        <tr>
            <td>date:</td>
            <td><input type="text" th:field="*{date}"/></td>
        </tr>
        <tr>
            <td>Commodity:</td>
            <td>
                <select name="commodity">
                    <option th:each="p : ${commodity}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${p.id} == *{commodity.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update product"></td>
        </tr>
    </table>
</form>
</body>
</html>