<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-product">Create new Product </a>
<h1>Product-Category</h1>
<form>
    Search by first name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <tr>
        <th>name</th>
        <th>price</th>
        <th>Commodity</th>
        <th>amount</th>
        <th>information</th>
        <th>date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="customer : ${product}">
        <tr>
            <td th:text="${customer.nameProduct}"></td>
            <td th:text="${customer.price}"></td>
            <td th:text="${customer.commodity.name}"></td>
            <td th:text="${customer.amount}"></td>
            <td th:text="${customer.information}"></td>
            <td th:text="${customer.date}"></td>
            <td><a th:href="@{/edit-product/__${customer.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-product/__${customer.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/product'(page=${product.number - 1})}" th:if="${product.hasPrevious()}">Previous</a>
    <span th:text="${product.number + 1}"></span>/<span th:text="${product.totalPages}"></span>
    <a th:href="@{'/product'(page=${product.number + 1})}" th:if="${product.hasNext()}">Next</a>
</div>
</body>
